<header>
    <div class="flex-container">
    <div id="webName">TimeTV</div>
    

        <% if (locals.user){ %>
            <div class="buttonAuth">
            <a href="/users/profile/<%= locals.user.id %>"> <%= user.name %></a>
            </div>
            <div class="buttonAuth">
                <a href="/users/sign-out">Sign Out</a>
            </div>
        <% }else{ %>
            <div class="buttonAuth">
                    <a href="/users/sign-in">Sign In</a>
       
            </div>
            <div class="buttonAuth">
                <a href="/users/sign-up">Sign Up</a>
            </div>
            <% } %>

     </div>
</header>