<h1>TimeTV | SignIn</h1>
<form action="users/create-session" method="post">
    <input type="text" name="email" placeholder="Enter email">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="Sign In">

</form>