<h1>TimeTV | SignUp</h1>

<form action="/users/create" method="POST">
     <input type="text" name="name" placeholder="Enter your name">
     <input type="text" name="email" placeholder="Enter your Email">
     <input type="password" name="password" placeholder="Enter password">
     <input type="password" name="confirm_password" placeholder="Confirm password">
     <input type="submit" value="Sign Up">
</form>